@model ControleModel

@{ 
    ViewData["Title"] = "Editar Registro";
}

<div class="text-center">
    <h1 class="display-4">Editar Registro</h1>
</div>


<form asp-controller="Controle" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="col">
        <label>Tempo Inicial</label>
        <input type="text" asp-for="Inicio" class="form-control">
    </div>
    <div class="col">
        <label>Operação</label>
        <input type="text" asp-for=Operacao class="form-control">
    </div>
        <div>
            <label>Tempo em Minutos</label>
            <input type="text" asp-for="TempoMinutos" class="form-control">
        </div>
        <div class="col">
            <label>Maquina</label>
            <input type="text" asp-for="Maquina" class="form-control">
        </div>
        <div class="col">
            <label>Operador</label>
            <input type="text" asp-for="Operador" class="form-control">
        </div>
        <div class="col">
            <label>Tarefa</label>
            <input type="text" asp-for="Tarefa" class="form-control">
        </div>
        <div class="col">
            <label>Ordem de Serviço</label>
            <input type="text" asp-for="OrdemProducao" class="form-control">
        </div>
        <div class="col">
            <label>Quantidade Produzida</label>
            <input type="text" asp-for="QuantidadeProduzida" class="form-control">
        </div>
        <div class="col">
            <label>Quantidade Perdida</label>
            <input type="text" asp-for="QuantidadePerdida" class="form-control">
        </div>
        <div class="col">
            <label>Cliente</label>
            <input type="text" asp-for="Cliente" class="form-control">
        </div>
        <div class="col">
            <label>Produto</label>
            <input type="text" asp-for="Produto" class="form-control">
        </div>
        <div class="col">
            <label>Observação</label>
            <input type="text" asp-for="Observação" class="form-control">
        </div>

        <br />

        <div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <a class="btn btn-secondary" asp-controler="Editar" asp-action="Index">Voltar</a>
        </div>
</form>